<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width="100%" height="450" src="//music.163.com/outchain/player?type=0&id=472116048&auto=1&height=430"></iframe>
  </div>
<% } %>


